name: ARES - SSRFMap Scanner
on:
  workflow_dispatch:
    inputs:
      target:
        required: true
      previous_run_id:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git clone https://github.com/swisskyrepo/SSRFmap.git
    - run: pip3 install -r SSRFmap/requirements.txt
    - run: pip3 install google-api-python-client google-auth-httplib2 google-auth-oauthlib
    - name: Run SSRFMap
      run: |
        URL="${{ github.event.inputs.target }}"
        mkdir -p output/ssrf
        # SSRFMap requires input file
        echo "$URL" > target.txt
        python3 SSRFmap/ssrfmap.py -r target.txt -p param --lhost=127.0.0.1 --lport=4444 > output/ssrf/ssrfmap.txt
    - run: python3 drive_upload.py "ssrfmap" "output/ssrf/ssrfmap.txt"
      env:
        GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
        GOOGLE_PRIVATE_KEY_ID: ${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
        GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
        GOOGLE_CLIENT_X509_CERT_URL: ${{ secrets.GOOGLE_CLIENT_X509_CERT_URL }}
        GDRIVE_FOLDER_ID: ${{ secrets.GDRIVE_FOLDER_ID }}
