name: ARES - Commix Scanner
on:
  workflow_dispatch:
    inputs:
      target:
        required: true
      previous_run_id:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git clone https://github.com/commixproject/commix.git commix-dev
    - run: pip3 install google-api-python-client google-auth-httplib2 google-auth-oauthlib
    - name: Run Commix
      run: |
        URL="${{ github.event.inputs.target }}"
        mkdir -p output/cmdi
        python3 commix-dev/commix.py --url="$URL" --batch --output-dir=output/cmdi > output/cmdi/commix.txt 2>&1 || true
    - run: python3 drive_upload.py "commix" "output/cmdi/commix.txt"
      env:
        GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
        GOOGLE_PRIVATE_KEY_ID: ${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
        GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
        GOOGLE_CLIENT_X509_CERT_URL: ${{ secrets.GOOGLE_CLIENT_X509_CERT_URL }}
        GDRIVE_FOLDER_ID: ${{ secrets.GDRIVE_FOLDER_ID }}
