name: ARES - Feroxbuster Scanner
on:
  workflow_dispatch:
    inputs:
      target:
        required: true
      previous_run_id:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: curl -sL https://raw.githubusercontent.com/epi052/feroxbuster/master/install-nix.sh | bash
    - run: sudo mv feroxbuster /usr/local/bin/
    - run: git clone --depth 1 https://github.com/danielmiessler/SecLists.git $HOME/SecLists
    - run: sudo ln -sf $HOME/SecLists/Discovery/Web-Content/common.txt /usr/share/wordlists/common.txt
    - run: pip3 install google-api-python-client google-auth-httplib2 google-auth-oauthlib
    - name: Run Feroxbuster
      run: |
        timeout 900 feroxbuster -u "${{ github.event.inputs.target }}" -w /usr/share/wordlists/common.txt -t 50 -d 3 -o output/vulns/feroxbuster.txt > /dev/null 2>&1 || true
    - run: python3 drive_upload.py "feroxbuster" "output/vulns/feroxbuster.txt"
      env:
        GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
        GOOGLE_PRIVATE_KEY_ID: ${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
        GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
        GOOGLE_CLIENT_X509_CERT_URL: ${{ secrets.GOOGLE_CLIENT_X509_CERT_URL }}
        GDRIVE_FOLDER_ID: ${{ secrets.GDRIVE_FOLDER_ID }}
