name: ARES - LFIMap Scanner
on:
  workflow_dispatch:
    inputs:
      target:
        required: true
      previous_run_id:
        required: false
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: git clone https://github.com/h0tak88r/LFImap.git lfimap-dev
    - run: pip3 install -r lfimap-dev/requirements.txt || true
    - run: pip3 install google-api-python-client google-auth-httplib2 google-auth-oauthlib
    - name: Run LFIMap
      run: |
        URL="${{ github.event.inputs.target }}"
        mkdir -p output/lfi
        python3 lfimap-dev/lfimap.py -U "$URL" -a -o output/lfi/lfimap.txt
    - run: python3 drive_upload.py "lfimap" "output/lfi/lfimap.txt"
      env:
        GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
        GOOGLE_PRIVATE_KEY_ID: ${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
        GOOGLE_PROJECT_ID: ${{ secrets.GOOGLE_PROJECT_ID }}
        GOOGLE_CLIENT_X509_CERT_URL: ${{ secrets.GOOGLE_CLIENT_X509_CERT_URL }}
        GDRIVE_FOLDER_ID: ${{ secrets.GDRIVE_FOLDER_ID }}
